
.App{
  font-family:Arial,Helvetica,sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  flex-direction:column;
}
.Menu{
  width:500px;
  height:500px;
  border-radius:10px;
  background-color:rgb(97, 215, 248);
  display:flex;
  text-decoration:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.App h1{
  /* text-decoration:underline; */
  text-decoration:none;
  font-size:30px

}
.Menu button ,.Quiz button{
  width: 300px;
  height: 50px;
  margin:5px;
  border:none;
  border-radius:5%;
  font-size:150%
}
.Quiz {
  width:500px;
  height:500px;
  border-radius:10px;
  background-color:rgb(97, 215, 248);
  display:flex;
  text-decoration:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.Menu ,.Quiz{
  /* margin-top:-40px; */
  color:rgb(28, 22, 65); 
  text-decoration:none;
  font-size:20px;
}
.QuestionBank{
 
  margin-top:-40px; 
}
.options{
  width:100%;
  display:flex;
  justify-content:center;
  font-size:15px;
  flex-direction:column;
  align-items:center;
}